@import '~open-color/open-color';
@import '~include-media/dist/include-media';
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

$basic_width : 620px;
$username_fontsize: 1.3rem;
$name_fontsize: 0.9rem;
$text_logo: 2rem;
$strong_gray: #808080;
$max_width: 1200px;
$red: #F30025;
$max_height: 404px;
$border: 1px solid black;
$blue: #74B4E8;
$pink:#FFBCD0;

@mixin button {
    width: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 0px;
    border-radius: 4px;
    text-align: center;
    color: white;
    background-color: $blue;
}

@mixin border {
    border: 1px solid black;
}


@mixin font{
    font-family: 'Indie Flower', cursive;
}

@mixin place-at-center() {
    position: absolute;
        top: 30%;
        z-index: 1;
    
}

@mixin basic-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $basic_width;
}

@mixin modal_position {
    position: fixed;
    top:30%;
    left:35%;
}