@import '~open-color/open-color';
@import '~include-media/dist/include-media';
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

$basic_width : 1005px;

@mixin place-at-center() {
    position: absolute;
        top: 30%;
        z-index: 1;
    
}