@import "utils";

.Loading {
    display: flex;
    justify-content: center;
}


.container {
    .header{
        margin-left: 50px;
        .upper{
            display: flex;
            .profile{
                img {
                    width: 220px;
                    height: 220px;
                    border-radius: 50%;
                    margin-right: 30px;
                }
            }
            .info {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                input {
                    width: 350px;
                    padding: 5px;
                }
                .username{
                    font-size: $username_fontsize;
                }
                .name{
                    font-size: $name_fontsize;
                    color: $strong_gray;
                }
                .bio{

                }
                .website{
                    color: $strong_gray;
                }
                a {
                    text-decoration: none;
                    color: $strong_gray;
                    
                }
                span {
                    margin-bottom: 8px;
                    .Edit{
                        margin-left: 711px;
                        @include button;
                        cursor: pointer;
                    }
                }
            }
        }   
        .lower{
            display: flex;
            justify-content: space-around;
            span {
                color:$strong_gray;
            }
            margin-bottom: 45px;
        }
    }
    .body{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
    }
}