@import "utils";


.container {
    width: 600px;
    display: flex;
    padding: 7px;
    .profile_photo{
        width: 10%;
        padding-left: 10px;
        .image{
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
    }
    .information{
        width: 15%;
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        .username{
            font-size: $username_fontsize;
        }
        .name{
            font-size: $name_fontsize;
        }
    }
    .follow{
        width: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .button{
            width: 90px;
            height: 27px;
            border-radius: 10px;
            background-color: #74B4E8;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            cursor: pointer;
             &:active{
                 background-color: #E6F6FF;
             }
          
        }
        
    }
}